@media (max-width: 1200px) {
  #hero .image-wrapper img {
    width: 510px;
    height: 340px;
  }

  .hero-heading {
    font-size: 3.2rem;
  }

  .btn {
    font-size: 1.6rem;
  }

  /* User Interface */
  .UI .image-wrapper img {
    width: 320px;
  }

  .UI .btn {
    margin: 0.5rem;
  }
}

@media (max-width: 900px) {
  #hero .image-wrapper img {
    width: 420px;
    height: 280px;
  }

  #hero .text-wrapper {
    padding: 0 2rem;
  }

  .hero-heading {
    margin: 1.5rem 0;
  }

  /* User Interface */
  .UI .text-wrapper {
    padding-left: 2rem;
  }
}

@media (max-width: 770px) {
  .section {
    flex-direction: column;
    align-items: center;
  }

  .hero-heading {
    text-align: center;
  }

  #hero .text-wrapper {
    max-width: 90%;
    padding: 0;
  }

  .hero-text {
    text-align: center;
  }

  #hero .button-wrapper {
    text-align: center;
  }

  .button-wrapper {
    text-align: center;
  }
}

@media (max-width: 500px) {
  nav img {
    width: 35px;
    height: 35px;
  }

  .section {
    margin: 0 auto;
  }

  #hero .image-wrapper img {
    width: 330px;
    height: 220px;
  }

  .hero-heading {
    font-size: 2.5rem;
  }

  .hero-text {
    font-size: 1.4rem;
  }

  .btn {
    font-size: 1.4rem;
  }

  .form-wrapper.show .form {
    padding: 1.5rem;
  }

  .form i {
    font-size: 1.5rem;
  }

  .form input {
    font-size: 1.4rem;
    margin: 1rem auto;
  }

  /* UI */
  .UI .text-wrapper {
    padding: 0;
  }

  #transfer-money-form .form {
    width: 90% !important;
  }

  #transfer-money-form input {
    width: 90%;
  }

  .transactions .section-heading {
    font-size: 2.4rem;
  }

  /* Transaction Modal */
  .modal-heading {
    font-size: 1.6rem;
  }

  .successful-modal img {
    height: 20px;
    width: 20px;
  }
}
